@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
.main .main__foto--vertical, .main .main__foto--horizontal, .seccion-dos__fotos img {
  border: 2px solid #F0F2AE;
  border-radius: 8px;
  box-shadow: 2px 2px 15px 0px #F0F2AE; }

body {
  overflow-x: hidden; }

@font-face {
  font-family: 'bromello';
  font-style: normal;
  font-weight: 400;
  src: local("bromello"), url("https://fonts.cdnfonts.com/s/13894/bromello.woff") format("woff"); }

hr {
  height: 6px;
  border-radius: 10px;
  background-color: #F2A25C;
  margin: 10px 30%; }

body {
  background-color: #BF7154; }

/*Primer BG*/
.bg-1 {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
  background-position-y: -120px; }
  @media (max-width: 991.98px) {
    .bg-1 {
      background-image: url(../assets/bg-2.jpg);
      background-size: cover;
      background-position: center;
      background-position-y: -50px; } }
  @media (max-width: 575.98px) {
    .bg-1 {
      background-image: url(../assets/bg-3.jpg);
      background-position: center;
      background-position-y: -50px; } }

/*Segundo BG fixed*/
.bg-2 {
  background-image: url(../assets/bg2.jpg);
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-attachment: fixed; }
  @media (max-width: 991.98px) {
    .bg-2 {
      background-image: url(../assets/bg2-2.jpg);
      background-position-y: 0px;
      background-position: center; } }
  @media (max-width: 575.98px) {
    .bg-2 {
      background-image: url(../assets/bg2-3.jpg);
      background-position: center; } }

/*Segundo BG - Frase*/
.bg-2__frase {
  padding-top: 350px;
  text-align: center;
  color: white;
  font-family: "Reenie Beanie", cursive;
  font-size: 4rem;
  margin: 0px 70px; }
  @media (max-width: 575.98px) {
    .bg-2__frase {
      padding-top: 200px;
      margin: 0px 5px; } }

/*Header Nav*/
.navbar .logo {
  font-family: 'bromello', sans-serif;
  font-size: 2rem;
  color: #594F57;
  text-shadow: 2px 0px 0px #F0F2AE; }

.navbar .logo:hover {
  color: #F2A25C; }

.navbar .nav-link {
  color: #F2A25C;
  text-shadow: 1px 1px 0px #594F57; }

.navbar .activo {
  color: #F0F2AE; }

/*Boton buscar*/
.btn-outline-success {
  color: #F2A25C;
  border-color: #F2A25C; }
  .btn-outline-success:hover {
    background-color: #F2A25C;
    border-color: #F0F2AE;
    color: #F0F2AE; }

/*Main desk*/
.main {
  margin-top: -70px;
  padding-bottom: 30px;
  color: #F0F2AE; }

/*Main Tablet*/
@media (max-width: 991.98px) {
  .main {
    margin-top: -90px; }
    .main .main--left {
      margin-top: 10px; } }

/*Main Smartphone*/
@media (max-width: 575.98px) {
  .main--left {
    display: none; }
  .main--right {
    width: 100vh;
    margin-top: 50px; } }

.col-6 img {
  width: 100%; }

.main .main__foto--vertical, .main .main__foto--horizontal, .seccion-dos__fotos img {
  border: 2px solid #F0F2AE;
  border-radius: 8px;
  box-shadow: 2px 2px 15px 0px #F0F2AE; }

.seccion-dos {
  background-color: white; }

.seccion-dos__header {
  text-align: center;
  margin: 0px 200px;
  padding: 40px; }
  @media (max-width: 991.98px) {
    .seccion-dos__header {
      margin: 0px 20px; } }
  @media (max-width: 575.98px) {
    .seccion-dos__header {
      margin: 0px 10px; } }

.seccion-dos__fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .seccion-dos__fotos img {
    width: 400px; }
    @media (max-width: 575.98px) {
      .seccion-dos__fotos img {
        width: 100%; } }
  @media only screen and (max-width: 991.98px) and (min-width: 575.98px) {
    .seccion-dos__fotos {
      display: grid;
      grid-template-areas: "foto-1 foto-2" "foto-3 foto-3";
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
      background-color: white; }
      .seccion-dos__fotos img {
        width: 100%; } }

.foto-1 {
  grid-area: foto-1; }

.foto-2 {
  grid-area: foto-2; }

.foto-3 {
  grid-area: foto-3; }

.seccion-dos__texto {
  text-align: center;
  position: relative;
  bottom: 150px;
  color: white; }
