@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
.main .main__foto--vertical, .main .main__foto--horizontal, .carousel-fade img, .seccion-dos__fotos img, .seccion-dos__sobre-mi img {
  border: 2px solid #F0F2AE;
  border-radius: 8px;
  box-shadow: 2px 2px 15px 0px #F0F2AE; }

body {
  overflow-x: hidden; }

@font-face {
  font-family: 'bromello';
  font-style: normal;
  font-weight: 400;
  src: local("bromello"), url("https://fonts.cdnfonts.com/s/13894/bromello.woff") format("woff"); }

body {
  background-color: #BF7154; }

/*BG 1 - Index*/
.bg-1, .bg-1--sobre-mi {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
  background-position-y: -120px; }
  @media (max-width: 991.98px) {
    .bg-1, .bg-1--sobre-mi {
      background-image: url(../assets/bg-2.jpg);
      background-size: cover;
      background-position: center;
      background-position-y: -50px; } }
  @media (max-width: 575.98px) {
    .bg-1, .bg-1--sobre-mi {
      background-image: url(../assets/bg-3.jpg); } }

/*BG 2 - Index fixed*/
.bg-2, .bg-2--sobre-mi {
  background-image: url(../assets/bg2.jpg);
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-attachment: fixed; }
  @media (max-width: 991.98px) {
    .bg-2, .bg-2--sobre-mi {
      background-image: url(../assets/bg2-2.jpg);
      background-position-y: 0px;
      background-position: center; } }
  @media (max-width: 575.98px) {
    .bg-2, .bg-2--sobre-mi {
      background-image: url(../assets/bg2-3.jpg);
      background-position: center; } }

/*BG 2 - Index frase*/
.bg-2__frase {
  padding-top: 350px;
  text-align: center;
  color: white;
  font-family: "Reenie Beanie", cursive;
  font-size: 4rem;
  margin: 0px 70px;
  text-shadow: 1px 1px 2px black, 0 0 1em #F2A25C, 0 0 0.2em #F2A25C;
  position: absolute; }
  @media (max-width: 575.98px) {
    .bg-2__frase {
      padding-top: 100px;
      margin: 0px 5px; } }

/*BG 1 - Sobre mi*/
.bg-1--sobre-mi {
  background-image: url(../assets/bg2.jpg); }

@media (max-width: 991.98px) {
  .bg-1--sobre-mi {
    background-image: url(../assets/bg2-2.jpg); } }

@media (max-width: 575.98px) {
  .bg-1--sobre-mi {
    background-image: url(../assets/bg2-3.jpg); } }

/*BG 2 - Sobre mi*/
.bg-2--sobre-mi {
  background-image: url(../assets/DSC4752.jpg); }

/*Header Nav*/
.navbar .logo {
  font-family: 'bromello', sans-serif;
  font-size: 2rem;
  color: #594F57;
  text-shadow: 2px 0px 0px #F0F2AE; }

.navbar .logo:hover {
  color: #F2A25C; }

.navbar .nav-link {
  color: #f8f9fa;
  text-shadow: 1px 1px 2px black, 0 0 1em #F2A25C, 0 0 0.2em #F2A25C;
  font-size: 1.1rem; }

.navbar .activo {
  color: #F0F2AE; }

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #F2A25C; }

/*Boton buscar*/
.btn-outline-success {
  color: #F2A25C;
  border-color: #F2A25C; }
  .btn-outline-success:hover {
    background-color: #F2A25C;
    border-color: #F0F2AE;
    color: #F0F2AE; }

/*Main desk*/
.main {
  margin-top: -90px;
  padding-bottom: 30px;
  color: #F0F2AE; }
  .main .main--right {
    padding-left: 70px; }

/*Main Tablet*/
@media (max-width: 991.98px) {
  .main {
    margin-top: -90px; }
    .main .main--left {
      margin-top: 10px; }
    .main .main--right {
      padding-left: 0px; } }

/*Main Smartphone*/
@media (max-width: 575.98px) {
  .main--left {
    display: none; }
  .main--right {
    width: 100vh;
    margin-top: 50px; } }

.col-6 img {
  width: 100%; }

#myCarousel {
  border-bottom: solid 100px #f8f9fa;
  color: #F0F2AE; }

.carousel-caption {
  color: #f8f9fa; }
  .carousel-caption h2, .carousel-caption p {
    text-shadow: 1px 1px 2px black, 0 0 1em #F2A25C, 0 0 0.2em #F2A25C; }

.carousel-inner {
  overflow: unset; }

.main .main__foto--vertical, .main .main__foto--horizontal, .carousel-fade img, .seccion-dos__fotos img, .seccion-dos__sobre-mi img {
  border: 2px solid #F0F2AE;
  border-radius: 8px;
  box-shadow: 2px 2px 15px 0px #F0F2AE; }

.seccion-dos {
  background-color: #f8f9fa; }

/*Seccion-dos Index*/
.seccion-dos__header {
  text-align: center;
  margin: 0px 200px;
  padding: 40px; }
  @media (max-width: 991.98px) {
    .seccion-dos__header {
      margin: 0px 20px; } }
  @media (max-width: 575.98px) {
    .seccion-dos__header {
      margin: 0px 10px; } }

.seccion-dos__fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-shadow: 1px 1px 2px black, 0 0 1em #F2A25C, 0 0 0.2em #F2A25C; }
  .seccion-dos__fotos img {
    width: 400px; }
    @media (max-width: 575.98px) {
      .seccion-dos__fotos img {
        width: 100%; } }
  @media only screen and (max-width: 991.98px) and (min-width: 575.98px) {
    .seccion-dos__fotos {
      display: grid;
      grid-template-areas: "foto-1 foto-2" "foto-3 foto-3";
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
      background-color: #f8f9fa; }
      .seccion-dos__fotos img {
        width: 100%; } }

.foto-1 {
  grid-area: foto-1; }

.foto-2 {
  grid-area: foto-2; }

.foto-3 {
  grid-area: foto-3; }

.seccion-dos__texto {
  text-align: center;
  position: relative;
  bottom: 150px;
  color: white; }

/*Seccion dos - Sobre mi*/
.seccion-dos__sobre-mi {
  display: flex;
  text-align: center;
  align-items: center;
  width: 80%;
  margin: 0px auto;
  padding-bottom: 60px; }
  @media (max-width: 991.98px) {
    .seccion-dos__sobre-mi {
      width: 100%; } }
  @media (max-width: 575.98px) {
    .seccion-dos__sobre-mi {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .seccion-dos__sobre-mi img, .seccion-dos__sobre-mi p {
        margin: 10px 0px; }
      .seccion-dos__sobre-mi .col-6 {
        width: 90%; } }

.btn-primary {
  color: #594F57;
  background-color: #f8f9fa;
  border-color: #F2EFC2; }

.btn-primary:hover {
  color: #f8f9fa;
  background-color: #594F57;
  border-color: #F0F2AE; }

.main .btn-outline-light {
  margin-top: 10px; }

.boton-bajar {
  height: 1030px;
  display: flex;
  justify-content: center;
  align-items: center;
  --animate-duration: 6s; }
  .boton-bajar img {
    width: 35px;
    opacity: .4; }

/*Boton back top*/
.boton-menu {
  position: sticky;
  top: 90%;
  margin-left: 92%;
  width: 25px;
  transform: rotate(180deg);
  --animate-duration: 4s; }
  @media (max-width: 575.98px) {
    .boton-menu {
      margin-left: 85%;
      top: 93%; } }

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa; }

.btn-outline-light:hover {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa; }

hr {
  height: 6px;
  border-radius: 10px;
  background-color: #F2A25C;
  margin: 10px 30%;
  border: none; }

.form-control:focus {
  color: #594F57;
  background-color: #f8f9fa;
  border-color: #BF947A;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(155, 137, 59, 0.25); }

footer {
  background: #BF7154; }

footer iframe {
  height: 100%;
  width: 100%; }
  @media (max-width: 991.98px) {
    footer iframe {
      height: 100%;
      width: 100%;
      margin: 0px; } }

.row-footer {
  --bs-gutter-x: 0rem!important; }

.social-links {
  margin-top: 20px; }

.social-links ul li {
  text-align: center;
  margin: 0 10px; }

.social-links ul li a {
  border: 1px solid #F0F2AE;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 0;
  padding-top: 10px; }

.social-links ul li:hover a, .social-links ul li:visited a {
  background: #f8f9fa; }

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 70px;
  padding-top: 50px; }
  .container-footer h3 {
    color: #F0F2AE; }

footer .contact-form {
  border-radius: 25px;
  padding: 35px;
  background-color: #f8f9fa;
  box-shadow: 0px 5px 10px 0px #594F57;
  width: 100%;
  max-width: 380px;
  margin: 117px auto; }

footer .contact-form h3 {
  color: #F2A25C;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px; }

footer .contact-form .form-control {
  margin-bottom: 20px;
  border: none;
  background-color: #F2EFC2;
  border-radius: 25px;
  font-size: 15px;
  padding: 25px 30px; }

footer .contact-form ::-webkit-input-placeholder {
  color: #594F57; }

footer .contact-form textarea {
  height: 203px;
  resize: none;
  padding-top: 20px !important; }

footer .contact-form button {
  background: #F2A25C;
  width: 140px;
  padding: 13px 0;
  font-size: 15px;
  color: #f8f9fa;
  border: none;
  border-radius: 40px;
  margin: 0 auto;
  display: block;
  cursor: pointer; }

footer .contact-form button:hover, footer .contact-form button:visited {
  background: #BF947A; }

footer .copy {
  background: #594F57;
  text-align: center; }

footer .copy p {
  color: #f8f9fa; }

footer .copy a {
  color: #f8f9fa;
  transition: 0.3s ease;
  text-decoration: none; }

footer .copy a:hover {
  color: #BF947A; }

@media (max-width: 1199px) {
  footer .contact-form {
    margin: 50px auto; } }

@media (max-width: 767px) {
  footer .map {
    min-height: 300px; } }

@media (max-width: 767px) {
  .row {
    margin-left: 0;
    margin-right: 0; }
  .container-fluid {
    padding-left: 0;
    padding-right: 0; } }

.seccion-tres {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #594F57; }
  .seccion-tres .seccion-tres__texto {
    color: #f8f9fa;
    text-align: center;
    padding: 40px; }
  .seccion-tres .seccion-tres__ig {
    width: 500px;
    padding: 0px 0px 30px 0px; }
