@import '../base/color';

//Media query
$media-tablet: 991.98px;
$media-phone: 575.98px;

//Fonts
$font-logo:'bromello', sans-serif;
$font-frase: 'Reenie Beanie', cursive;

//Shadow texto sobre foto 
$shadow-text: 1px 1px 2px black, 0 0 1em $color-striking, 0 0 0.2em $color-striking;
