@import '../utilities/variables';
@import '../base/color';

body {
    background-color: $color-bg-dark;
}
/*Primer BG*/
.bg-1 {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    height: 800px;
    background-repeat: no-repeat;
    background-position-y: -120px;
    @media (max-width: $media-tablet) { 
            background-image: url(../assets/bg-2.jpg);
            background-size: cover;
            background-position-x: -150px;
            background-position-y: -50px;
        }
    @media (max-width: $media-phone) {
            background-image: url(../assets/bg-3.jpg);
            background-position-x: -350px;
            background-position-y: -50px;
    }
}
/*Segundo BG fixed*/
.bg-2 {
    background-image: url(../assets/bg2.jpg);
    background-size: cover;
    height: 800px;
    background-repeat: no-repeat;
    background-position-y: -120px;
    background-attachment: fixed;
    margin-top: 800px;
    @media (max-width: $media-tablet) {
        background-image: url(../assets/bg2-2.jpg);
        margin-top: 650px;
        background-position-x: -80px;
        background-position-y: 0px;
    }
    @media (max-width: $media-phone) {
        background-image: url(../assets/bg2-3.jpg);
        margin-top: 500px;
        background-position-x: -350px;
    }
}
/*Segundo BG - Frase*/
.bg-2__frase {
    padding-top: 350px;
    text-align: center;
    color: white;
    font-family: $font-frase;
    font-size: 4rem;
    margin: 0px 70px;
    @media (max-width: $media-phone) {
        padding-top: 200px;
        margin: 0px 5px;
    }
}
