@import '../utilities/variables';
@import '../base/color';
@import '../utilities/keyframes';

body {
    background-image: radial-gradient(circle at 89.21% 53.43%, #ffc076 0, #f8b173 16.67%, #eaa170 33.33%, #d8906c 50%, #c58067 66.67%, #b37363 83.33%, #a4685f 100%);;
}
/*BG 1 - Index*/
.bg-1 {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    height: 800px;
    background-repeat: no-repeat;
    background-position-y: -120px;
    @media (max-width: 1500px) {
        animation: bg-pan-bl 8s both;
    }
    @media (max-width: $media-tablet) { 
            background-image: url(../assets/bg-2.jpg);
            background-size: cover;
            background-position: center;
            background-position-y: -50px;
            animation: none;
        }
    @media (max-width: $media-phone) {
            background-image: url(../assets/bg-3.jpg);
            animation: none;
    }
}

/*BG 2 - Index fixed*/
.bg-2 {
    background-image: url(../assets/bg2.jpg);
    background-size: cover;
    height: 800px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-attachment: fixed;
    @media (max-width: $media-tablet) {
        background-image: url(../assets/bg2-2.jpg);
        background-position-y: 0px;
        background-position: center;
    }
    @media (max-width: $media-phone) {
        background-image: url(../assets/bg2-33.jpg);
        width: 100%;
        height: 400px;       
    }
}
/*BG 2 - Index frase*/
.bg-2__frase {
    padding-top: 350px;
    text-align: center;
    color: white;
    font-family: $font-frase;
    font-size: 4rem;
    margin: 0px 70px;
    text-shadow: $shadow-text;
    @media (max-width: $media-phone) {
        padding-top: 130px;
        margin: 0px;
    }
}
//BG 1 frase
.bg-1__frase {
    @extend .bg-2__frase;
    @media (max-width: $media-phone) {
        padding-top: 280px;
        margin: 0px;
    }
}

/*BG 1 - Sobre mi*/
//Desk
.bg-1--sobre-mi {
    @extend .bg-1;
    background-image: url(../assets/bg2.jpg);
}
//Tablet
.bg-1--sobre-mi {
    @media (max-width: $media-tablet) {
    background-image: url(../assets/bg2-2.jpg);}
}

.bg-1--sobre-mi {
    @media (max-width: $media-phone) {
    background-image: url(../assets/bg2-3.jpg);}
}

/*BG 2 - Sobre mi*/
.bg-2--sobre-mi {
    @extend .bg-2;
    background-image: url(../assets/DSC4752.jpg);
    @media (max-width: $media-tablet) {
        background-image: url(../assets/DSC4752-2.jpg);
    }
    @media (max-width: $media-phone) {
        background-image: url(../assets/DSC4752-3.jpg);
    }
}

/*BG 1 - Curso*/
.bg-1--curso {
    @extend .bg-1;
    background-size: cover;
    background-image: url(../assets/curso/bg-hero-curso.jpg);
    @media (max-width: $media-tablet) {
        background-image: url(../assets/curso/bg-hero-curso-2.jpg);
    }
    @media (max-width: $media-phone) {
        background-image: url(../assets/curso/bg-hero-curso-3.jpg);
}
}
.main-curso {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
    @media (max-width: $media-phone) {
        margin-top: -50px;;
}
}
.bg-2--curso {
    @extend .bg-2;
    background-image: url(../assets/curso/foto-1.jpg);
    background-color: $color-striking;
    @media (max-width: $media-tablet) {
        background-image: url(../assets/curso/foto-2.jpg);
    }
    @media (max-width: $media-phone) {
        background-image: url(../assets/curso/foto-3.jpg);
}
}
// Contacto
.bg-1--contacto {
    @extend .bg-1;
    background-image: url(../assets/sobre-mi/DSC0220.jpg);
    @media (max-width: $media-tablet) {
        background-image: url(../assets/sobre-mi/DSC0220-2.jpg);
    }
    @media (max-width: $media-phone) {
        background-image: url(../assets/sobre-mi/DSC0220-3.jpg);
    }
}

// Sesiones infantiles
.bg-1--sesiones-infantiles {
    @extend .bg-1;
    height: 800px;
    margin-bottom: -100px;
    background-image: url(../assets/infantiles/123606278.jpg);
    @media (max-width: 1270px) {
        background-position-y: -50px;
    }
    @media (max-width: $media-tablet) {
        background-image: url(../assets/infantiles/123606278-2.jpg);
    }
    @media (max-width: $media-phone) {
        background-image: url(../assets/infantiles/123606278.jpg);
    }
}

// Sesiones 15 años
.bg-1--sesiones-15 {
    @extend .bg-1--sesiones-infantiles;
    background-image: url(../assets/15/DSC2039.jpg);
    @media (max-width: $media-tablet) {
        background-image: url(../assets/15/DSC2039-2.jpg);
    }
    @media (max-width: $media-phone) {
        background-image: url(../assets/15/DSC2039-3.jpg);
    }
}
.bg-2--15 {
    @extend .bg-2;
    background-image: url(../assets/15/DSC2508.jpg);
    @media (max-width: $media-tablet) {
        background-image: url(../assets/15/DSC2508-2.jpg);
    }
    @media (max-width: $media-phone) {
        background-image: url(../assets/15/DSC2508-3.jpg);
    }
}
.bg-2--15-2 {
    @extend .bg-2;
    background-image: url(../assets/15/DSC3913.jpg);
    @media (max-width: $media-tablet) {
        background-image: url(../assets/15/DSC3913-2.jpg);
    }
    @media (max-width: $media-phone) {
        background-image: url(../assets/15/DSC3913-3.jpg);
    }
}


