//Index
#myCarousel {
    
    color: $color-light;
}
.carousel-caption {
    color: $color-white;
    h2, p {
        text-shadow: $shadow-text;
    }
    a {
        text-shadow: none
    }
}
//Sobre mi
.carousel-fade img{
    @extend %border-foto;
}
.carousel-inner {
    overflow: unset;
}