@import '../base/color';

/*Header Nav*/
.navbar {
        .logo {
        font-family: 'bromello', sans-serif;
        font-size: 2rem;
        color: $color-dark;
        text-shadow: 2px 0px 0px $color-light;
        }
        .logo:hover {
            color: $color-striking;
        }
        .nav-link {
            color: $color-striking;
            text-shadow: 1px 1px 0px $color-dark;
        }
        .activo {
            color: $color-light;
        }
}
/*Boton buscar*/
.btn-outline-success {
    color: $color-striking;
    border-color: $color-striking;
    &:hover {
        background-color: $color-striking;
        border-color: $color-light;
        color: $color-light;
    }
}
