.seccion-tres {
    display: flex;
    flex-direction: column;
    align-items: center;
    .seccion-tres__texto {
        color: $color-white;
        text-align: center;
        padding: 40px;
    }
    .seccion-tres__ig {
        width: 500px;
        padding: 0px 0px 30px 0px;
        @media (max-width: $media-phone) {
            width: 95%;
        }
    }

}
.instagram-media{
    min-width: 250px!important;
}
/*Curso - Seccion Tres*/
//Que vas a aprender
.curso-aprender {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 50px;
    color: $color-white;
    flex-wrap: wrap;
    @media (max-width: $media-phone) {
        margin: 20px 0px 0px 0px;
        p {
            text-align: start;
            margin: 20px;
        }
    }
    .seccion-tres__header {
        margin-bottom: 30px;
        
    }
}
.seccion-tres__foto {
    img {
        width: 450px;
        @extend %border-foto;
        @media (max-width: $media-phone) {
            width: 100%;
        }
    }
    video {
        width: 350px;
        @media (max-width: $media-phone) {
            width: 100%;
        }
    }
}
//Sesiones infantiles
.caracteristicas-sesiones {
    @extend .curso-aprender;
    ul {
        text-align: start;
    }
}
