@import '../utilities/variables';

// btn bootstrap primario / carrusel 
.btn-primary {
    color: $color-dark;
    background-color: $color-white;
    border-color: $color-bg-light;
  }
  .btn-primary:hover {
    color: $color-white;
    background-color: $color-dark;
    border-color: $color-light;
  }
.main {
    .btn-outline-light {
        margin-top: 10px;
    }
} 

//Boton bajar
.boton-bajar {
  height: 1030px;
  display: flex;
  justify-content: center;
  align-items: center; 
  img {
     width: 60px;
     opacity: .5;
     animation-name: boton-bajar;
     animation-iteration-count: infinite;
    animation-timing-function: ease-in;     
    animation-duration: 2s;
  }
}
@keyframes boton-bajar {
  0% {width: 60px;}
  25% {transform: translate(0px 50px);}
  100% {transform: translate(0px 100px);}
}

// btn bootstrap outline 
.btn-outline-light {

    color: $color-white;
    border-color: $color-white;
  }
  .btn-outline-light:hover {
    color: #000;
    background-color: $color-white;
    border-color: $color-white;
  }

// HR
hr {
    height: 6px;
    border-radius: 10px;
    background-color: $color-striking;
    margin: 10px 30%;
    border: none;
}

//Imputs 
.form-control:focus {
  color: $color-dark;
  background-color: $color-white;
  border-color: $color-medium;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(155, 137, 59, 0.25);
}